@page "/signins/details"
@using Microsoft.EntityFrameworkCore
@using Food_Exp_Reminder.Model
@inject IDbContextFactory<Food_Exp_Reminder.Data.Food_Exp_ReminderContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>SignIn</h2>
    <hr />
    @if (signin is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">firstName</dt>
            <dd class="col-sm-10">@signin.firstName</dd>
            <dt class="col-sm-2">secondName</dt>
            <dd class="col-sm-10">@signin.secondName</dd>
            <dt class="col-sm-2">Email</dt>
            <dd class="col-sm-10">@signin.Email</dd>
            <dt class="col-sm-2">Password</dt>
            <dd class="col-sm-10">@signin.Password</dd>
        </dl>
        <div>
            <a href="@($"/signins/edit?id={signin.Id}")">Edit</a> |
            <a href="@($"/signins")">Back to List</a>
        </div>
    }
</div>

@code {
    private SignIn? signin;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        signin = await context.SignIn.FirstOrDefaultAsync(m => m.Id == Id);

        if (signin is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
